#card-holder {
    grid-template-columns: 10vw 1fr 1fr 1fr 10vw;
    grid-template-rows: 10vh auto 10vh;
    align-content: center;
    justify-items: center;
    column-gap: 15px;
}


.card {
    place-self: center;
    position: relative;
    max-height: 450px;
    min-height: 150px;
}

.front, .back {
    max-width: 20vw;
    max-height: 90vh;
    min-height: 150px;
}

.front {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotateY(180deg);
}

.back {
    content:url(../cards/back.jpg);
    backface-visibility: hidden;
}

/* INDIVIDUAL CARDS */

#card-zero {
    grid-column: 2;
    grid-row: 2;
}

#card-one {
    grid-column: 3;
    grid-row: 2;
}

#card-two {
    grid-column: 4;
    grid-row: 2;
}

#front-zero {
    content:url(../cards/cu03.jpg)
}

#front-one {
    content:url(../cards/cu04.jpg)
}

#front-two {
    content:url(../cards/cu05.jpg)
}

/* CARD ANIMATIONS */

@keyframes backflip {
    from {transform: rotateY(0deg);}
    to {transform: rotateY(180deg);}
}

@keyframes frontflip {
    from {transform: rotateY(180deg);}
    to {transform: rotateY(0deg);}
}

.backflip {
    animation: backflip;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.frontflip {
    animation: frontflip;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}
